.setting-form {
  padding: 2rem 4rem;
  width: 90%;
  max-width: 31rem;
  margin: 2rem auto;
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgb(0 0 0 / 10%);
  overflow: hidden;
}

.setting-form>.form__group>label {
  font-family: "Lexend", sans-serif;
  display: block;
  font-size: 1rem;
  margin: 0.5em 0;
}

.setting-form>.form__group>input {
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 15%);
  font-family: "Lexend", sans-serif;
  /* font-size: 1.2rem;
    border-radius: 0.8rem;
    padding: 0.2em 0.5em;
    min-width: 80%;
    border: 1px solid black; */
  background: transparent;
  padding: 0.4rem;
  border-radius: 4px;
  width: 100%;
  /* color: var(--color-light); */
  font-weight: 400;
  outline: none;
  font-size: 1rem;
  border: 1px solid rgb(122, 100, 100);
}

.setting-form>.form__group>select {
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 15%);
  font-family: "Lexend", sans-serif;
  background: transparent;
  padding: 0.4rem;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  outline: none;
  font-size: 1rem;
  border: 1px solid rgb(122, 100, 100);
}

.setting-save {
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 15%);
  font-family: "Lexend", sans-serif;
  background: transparent;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  font-weight: 500;
  margin: 1em 0;
  outline: none;
  font-size: 1rem;
  border: 1px solid rgb(122, 100, 100);
}

.pp {
  width: 7em;
  text-align: center;
  margin: 2rem auto;
  overflow: hidden;
}

.pp>img {
  width: 100%;
  border-radius: 50%;
}

.pp>label {}

.pp>input {
  margin: none;
  box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 15%);
  font-family: "Lexend", sans-serif;
  background-color: transparent;
  padding: 0.4rem;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  outline: none;
  font-size: 1rem;
  /* opacity:0.0; */
}

#user {
  display: none;
}